
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
                 <div class="form-row align-items-center">
                <div class="col-lg-4">
                  <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Denomination" [(ngModel)]="denomination">
                </div>
                <div class="col-lg-4">
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Code" [(ngModel)]="code">
                  </div>
                </div>
                <div class="col-lg-4">
                  <button type="submit" class="btn btn-primary mb-2" (click)="Rechercher()"><span class="fa fa-search"></span> Rechercher</button>
                </div>
              </div>
        </div>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Structures
      </div>
      <div class="card-body btn-danger" *ngIf="structures?.length == 0"><span style=" text-align: center; ">Pas de resultat</span></div>
      <div class="card-body" *ngIf="structures?.length > 0">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Dénomination</th>
              <th>Code</th>
              <th>Adresse</th>
              <th>Description</th>              
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let structure of structures">
                <td>{{ structure.denomination }}</td>
                  <td>{{ structure.code }}</td>
                  <td>{{ structure.adresse }}</td>
                  <td>{{ structure.description }}</td>
                  <td>{{ structure.statut }}</td>
                  <td>
             <button class="btn btn-sm btn-danger" (click)="deleteStructure(structure)" ><span class="fa fa-trash"></span></button>
             <button class="btn  btn-sm btn-primary" (click)="ModifierStrucutue(structure)"  ><span class="fa fa-edit"></span></button>    
                      </td>
                </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary pull-right" (click)="primaryModal()">
        <span class="fa fa-plus"></span>
        </button>
        <nav>
          <ul class="pagination"  *ngIf="pages?.length > 1">
            <li class="page-item" ><a class="page-link"  (click)="setPagePrev(i, $event)"><<</a></li>
            <li class="page-item active" *ngFor="let p of pages let i=index">
              <a class="page-link" href="" (click)="setPage(i, $event)">{{i}}</a>
            </li>  
            <li class="page-item"><a class="page-link"  (click)="setPageNext(i, $event)">>></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>

